.navbar.navbar-light.navbar-expand-md {
  background-color: #DDE8E8;
}

#portada {
  text-align: center;
  background-color: #150941;
  background-image: url(../../assets/img/portada-background.svg);
  padding: 10px;
  background-repeat: no-repeat;
}

#title-portada {
  color: #DDE8E8;
  padding: 10px;
}

#portada-aboutme {
  color: #DDE8E8;
  padding: 15px;
}

#portada-btn {
  background-color: #f80040;
  border-color: #f80040;
  box-shadow: 0 0 0 0.2rem #150941;
}

#portada-logo {
}

.navbar-light .navbar-toggler {
  padding: 0.25rem 0.25rem;
}

.icon-navbar {
  padding: 2px;
}

@media (min-width: 300px) {
  #title-portada {
    padding: 3px;
  }
}

@media (min-width: 300px) {
  #portada-aboutme {
    padding: 3px;
  }
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  font-family: 'Turret Road';
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Turret Road';
}

