.navbar.navbar-light.navbar-expand-md {
  background-color: #DDE8E8;
}

#portada {
  text-align: center;
  background-color: #150941;
  background-image: url(../../assets/img/portada-background.svg);
  padding: 10px;
  background-repeat: no-repeat;
}

#title-portada {
  color: #DDE8E8;
  padding: 10px;
}

#portada-aboutme {
  color: #DDE8E8;
  padding: 15px;
  font-weight: 700;
}

#portada-btn {
  background-color: #f80040;
  border-color: #f80040;
  box-shadow: 0 0 0 0.2rem #150941;
}

#project-btn {
  background-color: #f80040;
  border-color: #f80040;
  box-shadow: 0 0 0 0.2rem #150941;
}

.portada-btn {
  background-color: #f80040;
  border-color: #f80040;
  box-shadow: 0 0 0 0.2rem #150941;
}

#portada-logo {
}

.navbar-light .navbar-toggler {
  padding: 0.25rem 0.25rem;
}

.icon-navbar {
  padding: 2px;
}

@media (min-width: 300px) {
  #title-portada {
    padding: 3px;
  }
}

@media (min-width: 300px) {
  #portada-aboutme {
    padding: 3px;
  }
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  font-family: 'Turret Road';
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Turret Road';
}

.section-container {
  padding: 50px 0 60px;
}

.title-section {
  margin-bottom: 20px;
}

.btn-primary.focus, .btn-primary:focus {
}

.recent-projects {
  border-color: #150941;
}

#hello-world {
  margin-bottom: 50px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: #f80040;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .1rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 576px) {
  .animated-text {
    transform: scale(0.7);
    white-space: nowrap;
  }
}

.container2, .container2-lg, .container2-md, .container2-sm, .container2-xl {
  display: flex;
  flex-flow: wrap-reverse;
}

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.img-circle.img-responsive {
  border-radius: 80%;
  height: 100%;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 1.2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

